## 산술연산자

In [2]:
print(2+3)
print(5-2)
print(4*5)
print(1/2)
print(5//3)
print(5**2)
print(5**3)
print(20%3)

5
3
20
0.5
1
25
125
2

In [4]:
print('hello'+'world!')
print('hello'*2)

helloworld!
hellohello

In [5]:
num=3
print(num+5)
num1=5
num2=6
print(num1+num2)

8
11

## 대입연산자

In [7]:
num=4
print(num)
num+=4
print(num)
num-=3
print(num)
num*=3
print(num)
num/=3
print(num)
num**=2
print(num)

4
8
5
15
5.0
25.0

In [8]:
hello='hello'
hello+='world'
print(hello)
hello*=3
print(hello)

helloworld
helloworldhelloworldhelloworld

## 비교연산자

In [10]:
print(5<6)
print(5>6)
print(11<=11)
print(1.51>=12)
print(13==13)
print(11!=5)
print('hello'>'world')
print('홍길동'!='허균')
result=13==4
print(result)

True
False
True
False
True
True
False
True
False

## 비교,논리연산자

In [11]:
print(True and True)
print(True and False)
print(True or False)
print(False or False)
print(not False)
print(5<6 and True)
num1=3
num2=5
print(not(num1>num2))
print(num1==num2)

True
False
True
False
True
True
True
False

## print 함수

In [12]:
age = 20
name = '홍길동'
print(name,age)
print('이름은',name,'나이는',age)
print('이름은'+name+'나이는'+str(age))

홍길동 20
이름은 홍길동 나이는 20
이름은홍길동나이는20

In [15]:
str1="{}".format(10)
print(str1)
str2="{}과 {}".format(10,20)
print(str2)
num1=10
num2=20
str3="{}x{}={}".format(num1,num2,num1*num2)
print(str3)

10
10과 20
10x20=200

## str.format()

In [18]:
age=20
name='홍길동'
str4='이름은 {} 나이는 {}'.format(name,age)
print(str4)
str5='이름은 {0} 나이는 {1}'.format(name,age)
print(str5)
str6='이름은 {1} 나이는 {0}'.format(age,name)
print(str6)
print('이름은 {1} 나이는 {0}'.format(age,name))

이름은 홍길동 나이는 20
이름은 홍길동 나이는 20
이름은 홍길동 나이는 20
이름은 홍길동 나이는 20

In [19]:
print('이름은 %s 나이는 %d'%(name, age))
print('이름은 %s 나이는 %5d'%(name, age))
print('이름은 %s 나이는 %05d'%(name, age))
print('pi = %f'%3.141592)
print('pi = %f5.2'%3.141592)
print('pi = %f.2'%3.141592)

이름은 홍길동 나이는 20
이름은 홍길동 나이는    20
이름은 홍길동 나이는 00020
pi = 3.141592
pi = 3.1415925.2
pi = 3.141592.2

In [20]:
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9,10]
print(list1 + list2)
print(list2 + list1)
print(list1 * 3)
print(list2 * 3)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9, 10]

In [21]:
scores = [30, 50, 90, 89, 56, 87, 45]
length = len(scores)
print('scores의 길이는 {}입니다.'.format(length))
bts = ["진", "슈가", "제이홉", "RM", "지민", "뷔", "정국"]
print('bts의 멤버는 {}명입니다.'.format(len(bts)))

scores의 길이는 7입니다.
bts의 멤버는 7명입니다.

In [22]:
numbers = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 10]
numbers1 = numbers[0:4]
print(numbers1)
print(numbers[:4])
print(numbers[7:11])
print(numbers[7:])
print(numbers[:])

[0, 10, 20, 30]
[0, 10, 20, 30]
[70, 80, 90, 10]
[70, 80, 90, 10]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 10]

In [23]:
list1 = list(range(10))
print(list1)
list2 = list(range(1, 10))
print(list2)
list3 = list(range(1, 10, 2))
print(list3)
list4 = list(range(10, 0, -1))
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
student = ('전정국', '인공지능학과', 3, 175.3, 3.5, True)
print(student)
print(student[0])
#student[0] = '정국' #에러 immutable
car = ('Tesla', 'model3', 'red', 500)
print(car)

('전정국', '인공지능학과', 3, 175.3, 3.5, True)
전정국
('Tesla', 'model3', 'red', 500)

In [27]:
range1 = range(10)
tuple1 = tuple(range1)
print(tuple1)
range2 = range(-5, 15, 2)
print(tuple(range2))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(-5, -3, -1, 1, 3, 5, 7, 9, 11, 13)

In [30]:
#사용자의 입력을 받을때 사용
#입력값은 문자열로 반환
input("프롬프트 문자열") 
age = input('나이를 입력하시오')
print(age)
num = 3
diff = input('변화량을 입력하시오')
#print(num + diff) # 에러
#TypeError: unsupported operand type(s) for +: 'int' and 'str'
print(num + int(diff))

프롬프트 문자열d
나이를 입력하시오1
1
변화량을 입력하시오2
5