In [1]:
str1 = input('젯수를 입력하시오.')
num1 = int(str1)
str2 = input('피젯수를 입력하시오.')
num2 = int(str2)
result = num1 / num2
print('{}/{} = {}'.format(num1, num2, num1/num2)) 
#ZeroDivisionError: division by zero

젯수를 입력하시오.5
피젯수를 입력하시오.0

ZeroDivisionError: division by zero

In [2]:
str1 = input('젯수를 입력하시오.')
num1 = int(str1)
str2 = input('피젯수를 입력하시오.')
num2 = int(str2)
try:
    result = num1 / num2
    print('{}/{} = {}'.format(num1, num2, num1/num2))
except:
    print('입력값을 확인하시오.')

젯수를 입력하시오.5
피젯수를 입력하시오.0
입력값을 확인하시오.

In [4]:
str1 = input('젯수를 입력하시오.')
str2 = input('피젯수를 입력하시오.')
try:
    num1 = int(str1)
    num2 = int(str2)
    result = num1 / num2
    print('{}/{} = {}'.format(num1, num2, num1/num2))
except Exception as e:
    print("excpetion:", e)

젯수를 입력하시오.5
피젯수를 입력하시오.0
excpetion: division by zero

In [7]:
 try:
    with open('test1.txt', 'r', encoding='utf8') as f:
        lines = f.readline()
        for line in lines:
            print(line)
except Exception as e:
    print('파일을 여는 중에 오류가 발생했습니다.',e)

파일을 여는 중에 오류가 발생했습니다. [Errno 2] No such file or directory: 'test1.txt'

In [8]:
def add(x,y):
    return x+y
f = lambda x,y: x+y
print(add(1,2))
print(f(1,2))

3
3

In [9]:
def func(x):
    if x%3==0:
        return x
    else:
        return 0
f1 = lambda x: x if x%3==0 else 0

In [11]:
print(func(3))
print(f1(2))

3
0

In [19]:
list1 = [1,2,3,4,5]
list2 = [2,3,4,5,6]
def pow(x):
    return x**2
print(list(map(pow, list1)))
print(list(map(lambda x: x**2, list1)))
list(map(lambda x,y : x+y, list1,list2))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

[3, 5, 7, 9, 11]

In [23]:
list1 = list(range(1,11))
map1 = (map(lambda x: 5*x, list1))
list2 = list(map1)
print(list2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [25]:
ages = [18, 19, 39, 12, 43, 13, 21, 25]
def adult_func(age):
    if age >= 19:
        return True
    else:
        return False
for age in filter(adult_func, ages):
    print(age)
print()
for age in filter(lambda age: age >= 19, ages):
    print(age)

19
39
43
21
25

19
39
43
21
25

In [37]:
list1 = list(range(1,11))
f1 = filter(lambda x: x%2==0, list1)
m1 = map(lambda x: x**2, f1)
list2 = list(m1)
print(list2)

[4, 16, 36, 64, 100]

In [38]:
list3 = list(map(lambda x: x**2, filter(lambda x: x%2==0,list1)))
print(list3)

[4, 16, 36, 64, 100]

In [42]:
from functools import reduce
nums = [1,2,3,4]
sum = reduce(lambda x,y: x+y, nums)
print(sum)
mul = reduce(lambda x,y: x*y, nums)
print(mul)

10
24

In [52]:
from functools import reduce
list1 = range(1,11)
f1 = filter(lambda x:x%2==0,list1)
mul = reduce(lambda x,y: x*y,f1)
print(mul)

3840

In [55]:
list1 = list(range(1,11))
list2 = list(map(lambda x: x**2, list1))
print(list2)
list3 = [x**2 for x in list1]
print(list3)
list4 = [x**2 for x in range(1,11)]
print(list4)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
list1 = list(range(1,11))
print(list1)
list2 = [x**2 for x in list1]
print(list2)
list3 = [x for x in range(1,21) if x % 2 ==0]
print(list3)
list4 = [x for x in range(1,21) if x % 3 ==0]
print(list4)
list5 = [x**2 for x in range(1,21) if x % 5 ==0]
print(list5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18]
[25, 100, 225, 400]