In [1]:
import pymysql

In [3]:
conn = pymysql.connect(host='localhost', user='root',
                      password='Pa$$w0rd1234', db='school', charset='utf8')
try:
    curs = conn.cursor()
    sql = '''CREATE TABLE user (
        id int(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
        name varchar(255),
        email varchar(255)
        )'''
    curs.execute(sql)
    conn.commit()
finally:
    conn.close()

In [5]:
conn = pymysql.connect(host='localhost', user='root',
                      password='Pa$$w0rd1234', db='school', charset='utf8')
try:
    curs = conn.cursor()
    sql = "INSERT INTO user VALUES (%s, %s, %s)"
    val = (1, "랩몬", "rm@naver.com")
    curs.execute(sql, val)
    conn.commit()
finally:
    conn.close()

In [7]:
conn = pymysql.connect(host='localhost', user='root',
                      password='Pa$$w0rd1234', db='school', charset='utf8')
try:
    curs = conn.cursor()
    sql = "INSERT INTO user VALUES (%s, %s, %s)"
    curs.execute(sql, (2, "제이홉", "jh@naver.com"))
    curs.execute(sql, (3, "슈가", "sugar@naver.com"))
    curs.execute(sql, (4, "정국", "jg@naver.com"))
    conn.commit()
finally:
    conn.close()

In [8]:
import pymysql
conn = pymysql.connect(host='localhost', user='root',
 password='Pa$$w0rd1234', db='school', 
charset='utf8')
try:
    curs = conn.cursor()
    sql = "SELECT * FROM user"
    curs.execute(sql)
    data = curs.fetchall()
    conn.commit()
    for member in data:
        print(member)
finally:
    conn.close()

(1, '랩몬', 'rm@naver.com')
(2, '제이홉', 'jh@naver.com')
(3, '슈가', 'sugar@naver.com')
(4, '정국', 'jg@naver.com')

In [26]:
import pymysql
conn = pymysql.connect(host='localhost', user='root',
     password='Pa$$w0rd1234', db='school', 
     charset='utf8')
try:
    curs = conn.cursor()
    sql = 'SELECT * FROM user WHERE name = %s'
    val = ('제이홉')
    curs.execute(sql,val)
    data = curs.fetchall()
    conn.commit()
    for member in data:
        print(member)
finally:
    conn.close()

(2, '제이홉', 'jh@naver.com')

In [31]:
import pymysql
conn = pymysql.connect(host='localhost', user='root',
     password='Pa$$w0rd1234', db='school', 
     charset='utf8')

try:
    curs = conn.cursor()
    sql = 'select * from students s inner join cars c where s.id = c.students_id'
    curs.execute(sql)
    data = curs.fetchall()
    for member in data:
        print(member)
finally:
    conn.close()

(2, '제이홉', '컴퓨터공학과', 3, '남', None, '2011', '소나타', 2)
(1, '랩몬', '정보통신', 2, '남', None, '5387', '그랜져', 1)